.categoryContainer {
  position: relative;
}
.categoryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 0 10px;
  cursor: pointer;
  padding: 5px 0px;
  border-radius: 5px;
  width: 124px;
}

.categoryButtonText {
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.categoryButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categoryButtonIcon {
  color: #fff;
  position: relative;
  margin-right: 10px;
  top: 2px;
}

.categoryDepartmentsContainer {
  position: absolute;
  background-color: transparent;
  left: 0;
  top: 45px;
  height: 0;
  overflow: hidden;
}
.showCategoryDepartmentContainer {
  overflow: visible;
  height: auto;
}

.categoryDepartmentsContainerItems {
  box-shadow: #818181 1px 0.9px 8px;
  width: 330px;
  overflow: visible;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  background-color: #ffffff;
}

.departmentItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  position: relative;
  padding: 10px 30px;
  font-size: 12px;
  cursor: pointer;
}

.departmentItemIcon {
  padding-right: 10px;
}

.departmentItem:hover {
  background-color: #f4f4f4;
}

.departmentItem:hover .departmentItemIcon svg,
.departmentItem:hover .departmentItemText {
  background-color: #f4f4f4;
  color: #eb0f70;
}

.departmentItemIcon svg {
  height: 20px;
  width: 20px;
  color: #404040;
}

.departmentItemText {
  font-size: 10px;
  text-decoration: none;
  color: #404040;
}
