.categoryContainer {
  position: relative;
}
.categoryButton,
.categoryButtonMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 0 10px;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
  width: 130px;
}

.categoryButtonMobile {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 7px 0 7px;
}

.categoryButtonText {
  font-size: 10px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

.categoryButtonTextBig {
  font-size: 14px;
}

.categoryButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categoryButtonIcon {
  position: relative;
  color: #fff;
  margin-right: 10px;
  top: 2px;
}
.categoryButtonIcon svg {
  color: #fff;
  fill: #fff;
}

.categoryButtonMobile .categoryButtonIcon {
  margin-right: 0;
}

.categoryDepartmentsContainer {
  position: absolute;
  background-color: transparent;
  left: 0;
  top: 45px;
  height: 0;
  overflow: hidden;
}

.showCategoryDepartmentContainerInner {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: #818181 1px 0.9px 8px;
  width: 330px;
  max-height: 594px;
}

.categoryDepartmentsContainerItems {
  width: 100%;
  overflow: visible;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  background-color: #ffffff;
}

.departmentItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  position: relative;
  padding: 10px 30px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed #e5e5e5;
}

.departmentItemIcon {
  padding-right: 10px;
}

.departmentItem:hover {
  background-color: #f4f4f4;
}

.departmentItemIcon svg {
  height: 23px;
  width: 23px;
  color: #404040;
}
.departmentItem:hover .departmentItemText {
  background-color: #f4f4f4;
  color: #eb0f70;
}

.departmentItem:hover .departmentItemIcon svg,
.departmentItem:hover .departmentItemIcon {
  color: #eb0f70;
  fill: #eb0f70;
}

.departmentItemText {
  font-size: 11px;
  text-decoration: none;
  color: #404040;
  width: 100%;
  margin: 11px 0;
}

/* CategoryContent */

.categoryContent {
  box-shadow: #818181 2px 1.9px 5px;
  min-height: 100%;
  position: absolute;
  left: 330px;
  z-index: 111111;
  top: 0;
  background-color: #f4f4f4;
  padding: 20px 30px;
  height: auto;
  overflow: auto;
  min-width: 600px;
  max-height: 594px;
}
@media screen and (min-width: 1024px) {
  .categoryContent {
    width: 670px;
  }
}

@media screen and (min-width: 1200px) {
  .categoryContent {
    width: 860px;
  }
}

.categoryContentTitle {
  display: block;
  width: 100%;
  padding: 0;
  color: #404040;
  margin: 12px 0 30px;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.categoryInnerContent {
  display: flex;
  flex-wrap: wrap;
}

.categoryColumn {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  padding: 0;
  margin: 0 10px 20px;
  border-bottom: 1px dashed #dddddd;
  padding-bottom: 20px;
}

.categoryItemTitle {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 0 12px 20px;
  color: #404040;
  display: block;
  position: relative;
}

.categoryContentTitle:hover,
.categoryItemTitle:hover {
  color: #eb0f70;
}

/* SubCategory */

.subCategoryInnerContent {
}

.subCategoryLink {
  padding: 12px 0 12px 20px;
  color: #404040;
  display: block;
  position: relative;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

.subCategoryLink:hover {
  color: #eb0f70;
}

/* Mobile Version */
.drawerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.closeDrawerContainer {
  height: 50px;
  padding: 0 10px;
  background: rgb(128 128 128 / 33%);
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.closeDrawerButton,
.arrowBackDrawer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
  width: 130px;
}

.closeDrawerButton:hover,
.arrowBackDrawer:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.closeDrawerButtonText {
  margin: 0;
  margin-left: 10px;
  font-weight: bold;
}

.categoryDepartmentsContainerMobile {
  background-color: transparent;
  height: 0;
  overflow: hidden;
}

.categoryDepartmentsContainerMobile .showCategoryDepartmentContainerInner {
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
}

.departmentIconDrawer {
}

.showCategoryDepartmentContainer {
  overflow: visible;
  height: auto;
}

.listCategoryDetailMobile {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.listDrawerContainer {
  border-left: 3px solid #eb0f70;
  margin-top: 0px;
}

.categoryContentTitleDrawer {
  padding: 18px 30px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
}

.categoryContentTitleDrawer .departmentItemText {
  font-size: 13px;
  color: #eb0f70;
}

.drawerContent {
  display: flex;
  flex-direction: column;
}
